a{
    text-decoration: none;
    color: #5FCEEA;
}
#tartalom{
    margin: 40px;
    text-align: justify;
}
#oszlop{
    border-right: black solid 3px;
    padding-right: 30px;
}
nav{
   border-top: 2px solid black;
}
#oszlop2{
    background-color: azure;
    border-radius: 10px;
    border: black 2px solid;
}
#kepek{
    width: 25%;
    height: 25%;
    border: black solid 2px;
    border-radius: 10px;
    margin-top: 20px;
}
#doboz{
    background-color: azure;
    border-radius: 10px;
    text-align: justify;
}